<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="DEV_HOME" value="D:/Deploy/logs" />
	<appender name="CONS-AUDIT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</encoder>
	</appender>
	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/engine.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/engine.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy	
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5120KB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	<root level="ERROR">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="CONS-AUDIT" />
	</root>
	<root level="INFO">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="CONS-AUDIT" />
	</root>
</configuration>